apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webhookhub
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/YadavAkhileshh/WebHooksHub.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: webhookhub
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true